.navbar1 {
  height: 6rem;
  background-color: white;
}

.profile-form {
  margin-left: 20%;
}
.profileName {
  width: 90%;
}

.profilePhoto {
  width: 90%;
}
.profile1 {
  font-weight: bold;
}
h3 {
  color: grey;
  font-size: 30px;
}
ion-icon {
  width: 30px;
  height: 30px;
}
