.loginHome {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(74, 14, 154, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.auto1 {
  width: 27%;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid red;
  margin-top: 90px;
}

.btn-primary {
  width: 100%;
  border: none;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(74, 14, 154, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.btn-info {
  width: 100%;
  border: none;
  border-radius: 50px;
  background-color: cyan;
}

.form-control {
  color: rgba(0, 0, 0, 0.87);
  border-block-color: rgba(0, 0, 0, 0.42);
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
}

h4 {
  font-size: 2rem !important;
  font-weight: 700;
}
h6 {
  color: red;
  text-align: center;
}

#emailHelp {
  color: green;
  font-weight: bold;
  font-size: 13px;
}
.form-label {
  font-family: 700 !important;
}

@media only screen and (max-width: 1200px) {
  form {
    width: 70% !important;
  }
}
