@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(27, 23, 101) 0%,
    rgba(0, 212, 255, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
